*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container{
  width: 350px;
  height: 450px;
  display: flex;
  flex-direction: column-reverse;
}
div {
  width: 400px;
  display: flex;
  justify-content: center;
}
div .ball{
  cursor: pointer;
  margin: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid black 5px;
}
.player p{
  font-size: 20px;
}